body {
  margin: 0;
  font-family: "Lora", serif;
  color: #041122;
  height: 100%;
  padding-bottom: 150px;
}
html { 
  position:relative; 
 /*  min-height:100%; */
 }

.wrapper {
  background-color: #fff;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  z-index: 0;
}

.clear {
  clear: both;
}

